venv/
app_icon.png
.env
/data
/runs
__pycache__/
/_archive
/model_coefficients.json
marathon_simulation.egg-info/
/sensitivity/plots/
.ruff_cache/
model_coefficients.json
notes.txt
.vscode/
/local_results
/running_simulation_data